{% extends 'base.html.twig' %}

{% block body %}
    <h1>Zorg dat uw gegevens correct zijn</h1>
    {{ include('user/_user_data_form.html.twig') }}
{% endblock %}

{% block title %}
Huur deze auto
{% endblock %}

