{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(registrationForm) }}
    {{ form_widget(registrationForm) }}
    <button type="submit" class="btn btn-primary">Submit!</button>
    {{ form_end(registrationForm) }}
{% endblock %}

{% block title %}

{% endblock %}

