{% extends 'base.html.twig' %}

{% block title %}Car Rental{% endblock %}

{% block body %}
    <h1>Car Rental! Welkom!</h1>
    <p>Ik ben eigenlijk een cavia.</p>

    <h2>Onze top auto's</h2>
    <div class="row">
        {% for car in cars %}
            <div class="col-xs-12 col-sm-6 col-md-3">
                <h3>{{ car.brand }} {{ car.model }}</h3>
                <p>Is supermooi auto ja</p>
                <a href="{{ path('car_show', {slug: car.slug}) }}" class="btn btn-primary">Bekijken</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
