{% extends 'base.html.twig' %}

{% block body %}
    <h1>Onze nieuwste modellen</h1>
    <hr>
    {{ knp_pagination_render(pagination) }}
    <table class="table table-striped">
        {% for car in pagination %}
            <tr>
                <td>{{ car.brand.name }} {{ car.model }}</td>
                <td><a href="{{ path('car_show', {slug: car.slug}) }}">Bekijk mij</a></td>
            </tr>
        {% endfor %}
    </table>

    {{ knp_pagination_render(pagination) }}
{% endblock %}

{% block title %}

{% endblock %}

