{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <h1>{{ car.brand }} {{ car.model }}</h1>
    <a href="{{ path('rental_validate', {slug: car.slug}) }}">Deze auto huren</a>

    <table class="table">
        <tr>
            <td>Type: </td><td>{{ car.carPowertrain }}</td>
        </tr>
    </table>
{% endblock %}

