{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(carForm) }}
    {{ form_widget(carForm) }}
    <button type="submit" class="btn btn-primary">Update!</button>
    {{ form_end(carForm) }}
{% endblock %}

{% block title %}
 Create car
{% endblock %}

