{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ car.brand.name }} {{ car.model }}</h1>

    {{ form_start(carForm) }}
    {{ form_widget(carForm) }}
    <button type="submit" class="btn btn-primary">Update!</button>
    {{ form_end(carForm) }}
{% endblock %}

{% block title %}
Auto bewerken
{% endblock %}

