{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ car.brand }} {{ car.model }}</h1>
    <hr>
    De APK van kenteken {{ car.registrationPlate|upper }} is
    {% if apkChecker.apkValid %}
        <span class="badge badge-success">Geldig!</span> tot {{ apkChecker.apkExpireDate|date('d-m-Y') }}
    {% elseif apkChecker.apkValid is null %}
        <span class="badge badge-warning">Onbekend</span>
    {% else %}
        <span class="badge badge-danger">Verlopen!</span> sinds {{ apkChecker.apkExpireDate|date('d-m-Y') }}
    {% endif %}

{% endblock %}

{% block title %}

{% endblock %}

