{% extends 'base.html.twig' %}

{% block title %}Admin overview{% endblock %}

{% block body %}
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_car_create') }}">Nieuwe auto</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Specificaties</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Verwijderde auto's</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Werelddominatie</a>
        </li>
    </ul>
    <hr>
    {{ knp_pagination_render(pagination) }}
    <table class="table table-striped car-info-table">
        {% for car in pagination %}
            <tr>
                <td>{{ car.brand.name }} {{ car.model }}</td>
                <td><a class="btn btn-primary" href="{{ path('admin_car_show', {slug: car.slug}) }}">Bekijk mij</a></td>
                <td><a class="btn btn-info apk-checker" data-toggle="popover" href="{{ path('admin_car_apk', {slug: car.slug}) }}">Check
                        APK</a></td>
                {% if car.deletedAt %}
                    <td><span class="disabled">Verwijdered op {{ car.deletedAt|date('m-d-Y') }}</span></td>
                {% else %}
                    <td><a class="btn btn-danger"
                           href="{{ path('admin_car_delete', {slug: car.slug}) }}"
                           onclick="return confirm('Zekerste weten?')">Verwijder mij</a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>

    {{ knp_pagination_render(pagination) }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/apk.js') }}"></script>
{% endblock %}
