<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block required_stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    {% endblock %}
    {% block stylesheets %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Car Rental</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    {% set currentRoute = app.request.attributes.get('_route') %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {{ currentRoute == 'car_index' ? 'active' : '' }}">
                <a class="nav-link" href="{{ path('car_index') }}">Beginpagina <span
                            class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {{ currentRoute == 'car_list' ? 'active' : '' }}">
                <a class="nav-link" href="{{ path('car_list') }}">Auto overzicht</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if is_granted('ROLE_USER') %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{ path('admin_car') }}"
                           data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">Beheerder</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ path('admin_car') }}">Overzicht auto's</a>
                            <a class="dropdown-item" href="{{ path('admin_car_create') }}">Nieuwe auto</a>
                        </div>
                    </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{{ path('user_index') }}"
                       data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">Welkom, {{ app.user.email }}</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('user_index') }}">Mijn gegevens</a>
                        <a class="dropdown-item" href="{{ path('app_logout') }}">Uitloggen</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

<div class="container">
    {#TODO more dynamic messaging#}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning">
            {{ message }}
        </div>
    {% endfor %}

    {% block body %}{% endblock %}
</div>


{% block required_javascripts %}
    <script src="{{ asset('build/manifest.json') }}" type="application/json"></script>
    <script src="{{ asset('build/runtime.js') }}" type="application/javascript"></script>
    <script src="{{ asset('build/app.js') }}" type="application/javascript"></script>
{% endblock %}

{% block javascripts %}{% endblock %}
</body>
</html>
