{% extends 'base.html.twig' %}

{% block title %}Hallo {{ user.username }}!{% endblock %}

{% block body %}
    <div>
        <h1>Welkom, {{ user.username }}</h1>
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4">
                <h2>Accountgegevens</h2>
                Email: {{ user.email }}
                Wachtwoord: ****
                <a href="#">Bewerken</a>
            </div>

            <div class="col-12 col-sm-6 col-md-4">
                <h2>Persoonsgegevens</h2>

                <a href="{{ path('user_edit') }}">Bewerken</a>
            </div>

            <div class="col-12 col-sm-6 col-md-4">
                <h2>Huuroverzicht</h2>

                <a href="#">Details bekijken</a>
            </div>
        </div>

    </div>
{% endblock %}
